@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

.dachshund_logo {
    width: 80px;
    height: 80px;
    border: none;
    padding: 16px;
}

.hero_text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 16px;
    margin: 26px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: white;
}

img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6
}

.sign {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 12px;
    text-decoration: none;
    border-radius: 12px;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 120px;
}

.hero_img {
    width: 500px;
    height: 400px;
    margin: 16px;
}

.header_text {
    font-size: 24px;
    color: #f9faf8;
    margin: 26px;
}


.intro_header {
    font-size: 48px;
    color: #F9FAF8;
}

.card_header {
    text-align: center;
    margin: 16px;
    margin-top: 50px;
}

.quote {
    color: black;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.box_quote {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 160px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
}

.author_inspo {
    padding-top: 50px;
    text-align: right;
    font-weight: bold;
}

.cta_area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.cta_foot {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    padding: 40px;
    border-radius: 12px;
    color: white;
}

.cta_sign {
    margin: 25px;
    padding: 16px;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
}